<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>홈화면</title>
</head>
<body>
	<th:block>
		<h1>할 일 목록</h1>
		<table border="1">
			<tbody>
				<tr>
					<th>완료</th>
					<th>번호</th>
					<th>내용</th>
					<th>삭제</th>
				</tr>
			</tbody>
		</table>
		
		<h1>할 일 추가</h1>
		<form name="create_todo_form">
			<input type="text" name="content" placeholder="할일을 입력하세요.">
			<input type="submit" value="추가하기">
		</form>
		
		<script>
			const form = document.create_todo_form;
			form.addEventListener("submit", function(event){
				event.preventDefault();
				
				let vali_check = false;
				let vali_text = "";
				
				if(!form.content.value) {
					vali_text += "할일을 입력하세요.";
				} else {
					vali_check = true;
				}
				
				if(vali_check == false) {
					alert(vali_text);
				} else {
					const payload = new FormData(form);
					
					fetch("/todo", {
						method : 'post',
						body : payload
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
						if(data.res_code == '200') {
							location.href = "/";
						}
					})
					.catch(error => {
						console.log(error);
					})
				}
			});
		</script>
	<th:block>
</body>
</html>