<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>홈화면</title>
</head>
<body>
	<th:block>
		<h1>파일 목록</h1>
		<form name="create_file_form">
			<input type="file" name="files" multiple>
			<input type="submit" value="업로드">
		</form>
		<br>
		<table border="1" th:if="${!#lists.isEmpty(attachList)}">
			<thead>
				<tr>
					<th>번호</th>
					<th>다운로드</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attach, vs : ${attachList}">
					<td th:text="${vs.count}">번호(status.count)</td>
					<td>
						<!-- <a th:text="${attach.oriName}" th:onclick="|javascript:location.href='@{/download/{id}(id=${attach.attachNo})}'|">파일의 명칭을 출력</a> -->
						<a th:text="${attach.oriName}" th:href="@{/download/{id}(id=${attach.attachNo})}" style="text-decoration: none; color: black;">파일의 명칭을 출력</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<script>
			const fileForm = document.create_file_form;
			fileForm.addEventListener('submit', (event) => {
				event.preventDefault();
				
				const payload = new FormData(fileForm);
				
				fetch("/s3/upload", {
					method : 'post',
					body : payload
				})
				.then(response => response.json())
				.then(data => {
					alert(data.res_msg);
					if(data.res_code == '200') {
						location.href = "/";
					}
				})
				.catch(error => {
					console.log(error);
				});
				
			});
		</script>
		<h1>할 일 목록</h1>
		<form action="/todo" name="search_todo_form" method="get">
			<div>
				<label for="search-input">내용 : </label>
				<input type="text" id="search-input" name="search_text" th:value="${searchDto != null and searchDto.search_text != null ? searchDto.search_text : ''}">
				<input type="submit" value="검색">
			</div>
		</form>
		<br>
		<table border="1">
			<thead>
				<tr>
					<th>완료</th>
					<th>번호</th>
					<th>내용</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(todoList)}">
					<td colspan="4">조회된 데이터가 없습니다</td>
				</tr>
				<tr th:if="${!#lists.isEmpty(todoList)}"
					th:each="todo, vs : ${todoList}">
						<td><input type="checkbox" th:checked="${todo.flag == 'Y'}" class="chk-flag" th:attr="data-no=${todo.no}"></td>
						<td th:text="${vs.count + (pageDto.nowPage-1) * pageDto.numPerPage}">번호</td>
						<td th:text="${todo.content}">내용</td>
						<td><input type="button" value="삭제" class="delete-btn" th:attr="data-no=${todo.no}"></td>
				</tr>
			</tbody>
		</table>
		<div>
			<div th:if="${pageDto.totalPage != 0}">
				<a th:if="${pageDto.prev}" th:href="@{/todo(nowPage=${pageDto.pageBarStart-1}, search_text=${searchDto.search_text})}">&laquo;</a>
				<a th:each="num : ${#numbers.sequence(pageDto.pageBarStart, pageDto.pageBarEnd)}"
					th:text="${num}"
					th:href="@{/todo(nowPage=${num}, search_text=${searchDto.search_text})}">번호
				</a>
				<a th:if="${pageDto.next}" th:href="@{/todo(nowPage=${pageDto.pageBarEnd+1}, search_text=${searchDto.search_text})}">&raquo;</a>
			</div>
		</div>
		
		<h1>할 일 추가</h1>
		<form name="create_todo_form">
			<input type="text" name="content" placeholder="할일을 입력하세요.">
			<input type="submit" value="추가하기">
		</form>
		
		<script>
			// 할 일을 추가하는 로직
			const form = document.create_todo_form;
			form.addEventListener("submit", function(event){
				event.preventDefault();
				
				let vali_check = false;
				let vali_text = "";
				
				if(!form.content.value) {
					vali_text += "할일을 입력하세요.";
				} else {
					vali_check = true;
				}
				
				if(vali_check == false) {
					alert(vali_text);
				} else {
					const payload = new FormData(form);
					
					fetch("/todo", {
						method : 'post',
						body : payload
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
						if(data.res_code == '200') {
							location.href = "/";
						}
					})
					.catch(error => {
						console.log(error);
					});
				}
			});
			
			// 완료 여부를 수정하는 로직
			document.querySelectorAll(".chk-flag").forEach((checkbox) => {
				checkbox.addEventListener("change", function (event) {
			        const no = event.target.dataset.no;
			        const flag = event.target.checked;
			        
			        fetch("/todo/"+no+"/update", {
						method : "post",
						headers: {
			                "Content-Type": "application/json"
			            },
			            body: JSON.stringify({
							flag: flag
						})
					})
					.then(response => response.json())
					.then(data => {
						if(data.res_code == '500') {
							alert(data.res_msg);		
						}
					})
					.catch(error => {
						console.log(error);
					});
				});
			});
			
			// 할 일을 삭제하는 로직
			document.querySelectorAll(".delete-btn").forEach((button) => {
				button.addEventListener("click", function (event) {
			        const no = event.target.dataset.no;
			        
			        let delete_check = confirm('정말로 해당 할 일을 삭제하시겠습니까?');
			        
			        if(delete_check) {
			        	fetch("/todo/"+no+"/delete", {
							method : "delete"
						})
						.then(response => response.json())
						.then(data => {
							alert(data.res_msg);
							if(data.res_code == '200') {
								location.href = "/";		
							}
						})
						.catch(error => {
							console.log(error);
						});
			        }
				});
			});
			
		</script>
	<th:block>
</body>
</html>